<?js
var self = this;
var doc = typeof docs !== "undefined" ? docs[0] : null;

this.nav.topLevel.forEach(function(entry) {
	entry.selected = self.isEntrySelected(doc, entry);
});
?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title><?js= this.options.systemName ?> <?js= title ?></title>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <?js if (!this.options.theme || this.options.theme === "default") { ?>
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" />
    <?js } else { ?>
    <link type="text/css" rel="stylesheet" href="<?js= this.options.theme ?>/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="<?js= this.options.theme ?>/bootstrap-theme.min.css" />
    <?js } ?>
    <link type="text/css" rel="stylesheet" href="styles/main.css" />
</head>
<body>
    <header>
        <?js= this.partial('nav/top.tmpl', { nav: this.nav, doc: doc }) ?>
    </header>
    <section class="container-fluid">
        <div class="row">
            <div class="sidebar col-sm-5 col-md-4 col-lg-3">
                <?js= this.partial('nav/side.tmpl', { nav: this.nav, doc: doc }) ?>
            </div>
            <div class="col-sm-7 col-md-8 col-lg-9 col-sm-offset-5 col-md-offset-4 col-lg-offset-3">
                <div id="main">
                    <?js= content ?>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <?js if (this.options.footer.length > 0){ ?>
        <p><?js= this.options.footer ?></p>
        <?js } ?>
        <?js if (this.options.copyright.length > 0){ ?>
        <p class="copyright"><?js= this.options.copyright ?></p>
        <?js } ?>
        <p class="jsdoc-message">
            Documentation generated by
            <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a>
            on <?js= (new Date()).toJSON().replace("T", " ").replace("Z", "") ?>
            using the <a href="https://github.com/spatools/ts2jsdoc">ts2jsdoc template</a>.
        </p>
    </footer>

    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.min.js"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <?js if (this.options.tableOfContents) { ?>
    <script src="https://cdn.rawgit.com/jgallen23/toc/master/dist/toc.min.js"></script>
    <script src="scripts/applytoc.js"></script>
    <?js } else { ?>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/1.4.0/jquery.localScroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>
    <?js } ?>

    <script>
        var searchMembers = <?js= JSON.stringify(this.nav.searchMembers) ?>;
    </script>
    <script src="scripts/main.js"></script>

    <?js if (this.options.analytics) { ?>
    <!--Google Analytics-->
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("<?js= this.options.analytics ?>");
            pageTracker._trackPageview();
        } catch(err) {}
    </script>
    <?js } ?>
</body>
</html>
