<?js
var self = this;
var doc = typeof docs !== "undefined" ? docs[0] : null;

this.nav.topLevel.forEach(function(entry) {
	entry.selected = self.isEntrySelected(doc, entry);
});
?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title><?js= this.options.systemName ?> <?js= title ?></title>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <?js if (!this.options.theme || this.options.theme === "default") { ?>
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" />
    <?js } else { ?>
    <link type="text/css" rel="stylesheet" href="<?js= this.options.theme ?>/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="<?js= this.options.theme ?>/bootstrap-theme.min.css" />
    <?js } ?>
    <link type="text/css" rel="stylesheet" href="styles/main.css" />
</head>
<body>
    <header>
        <?js= this.partial('nav/top.tmpl', { nav: this.nav, doc: doc }) ?>
    </header>
    <section class="container-fluid">
        <div class="row">
            <div class="sidebar col-sm-5 col-md-4 col-lg-3">
                <?js= this.partial('nav/side.tmpl', { nav: this.nav, doc: doc }) ?>
            </div>
            <div class="col-sm-7 col-md-8 col-lg-9<?js= this.options.tableOfContents ? ' col-sm-offset-5 col-md-offset-4 col-lg-offset-3' : '' ?>">
                <div id="main">
                    <?js= content ?>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <?js if (this.options.footer.length > 0){ ?>
        <p><?js= this.options.footer ?></p>
        <?js } ?>
        <?js if (this.options.copyright.length > 0){ ?>
        <p class="copyright"><?js= this.options.copyright ?></p>
        <?js } ?>
        <p class="jsdoc-message">
            Documentation generated by
            <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a>
            on <?js= (new Date()).toJSON().replace("T", " ").replace("Z", "") ?>
            using the <a href="https://github.com/spatools/ts2jsdoc">ts2jsdoc template</a>.
        </p>
    </footer>

    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.min.js"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <?js if (this.options.tableOfContents) { ?>
    <script src="https://cdn.rawgit.com/jgallen23/toc/master/dist/toc.min.js"></script>
    <script src="scripts/applytoc.js"></script>
    <?js } else { ?>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/1.4.0/jquery.localScroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>
    <?js } ?>

    <script>
        var searchMembers = <?js= JSON.stringify(this.nav.searchMembers) ?>;
    </script>
    <script src="scripts/main.js"></script>
    
    <?js if (this.options.analytics && this.options.analytics.ua && this.options.analytics.domain) { ?>
    <!--Google Analytics-->
    <script>
	    (function ( i, s, o, g, r, a, m ) {
		    i['GoogleAnalyticsObject'] = r;
		    i[r] = i[r] || function () { (i[r].q = i[r].q || []).push( arguments ) }, i[r].l = 1 * new Date();
		    a = s.createElement( o ), m = s.getElementsByTagName( o )[0];
		    a.async = 1; a.src = g;
		    m.parentNode.insertBefore( a, m )
	    })( window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga' );

	    ga( 'create', '<?js= this.navOptions.analytics.ua ?>', '<?js= this.navOptions.analytics.domain ?>' );
	    ga( 'send', 'pageview' );
    </script>
    <?js } ?>
</body>
</html>
