<?js
    var data = obj;
?>
    <section>
        <article>
            <pre class="prettyprint<?js= this.options.linenums ? ' linenums' : '' ?>"><?js= data.code ?></pre>
        </article>
    </section>
